
<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Produto</title>
</head>
<body>
    <h1>Detalhes do Produto</h1>
<p>Nome: {{ product.nome }}</p>
<p>Preço: R$ {{ product.preco }}</p>
</body>
</html>
